/*------ THIRD PAGE ------*/

/*----- Desktop -----*/

@media (min-width 1024px)
	.info-content-extra
		display flex
		justify-content space-between	
		align-self center
		
		.container-extra
			height 410px
			width 100%
			display flex
			justify-content space-between
			flex-flow nowrap		
			align-self center
			
			.info-img
				order 2
				align-self center
				margin-right 250px

			.info-text-extra
				order 1
				align-self center
				text-align left
				width 520px
				background 0
				padding-left 150px
				
				h1
					font-family Lato, "Helvetica Neue", sans-serif
					line-height 1
					color #333
					font-size 38px
					font-weight 700
					text-shadow none
					
				p
					font-family Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif 
					font-size 18px
					color #333
					font-style normal
					letter-spacing 0
					line-height 1.2