@import './reset'
@import './normalize.css'

body
	overflow-y hidden
	margin 0
	display block
	letter-spacing 0
	font-weight 400
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased

.main, .welcome-content, .info-newdot,
.info-content, info-newdot-extra, 
.info-content-extra, .register, .form-content
	height 100%

.main
	background-image url(../../images/b8.jpg)
	background-position 50% -20%
	background-color #000000

.info-newdot
	background-color #31b855
	
.info-newdot-extra
	background-color #e62739

.register
	background-image url(../../images/b22.jpg)
	background-position 50% -100%
	background-color #000000

.main, .info-newdot, .register
	background-repeat no-repeat
	background-size cover

@import './welcome'
@import './info'
@import './info-extra'
@import './register'
@import './plugins'