@import './reset'
@import './normalize.css'

body
	overflow-y hidden
	margin 0
	display block
	letter-spacing 0
	font-style normal
	font-weight 400
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	
.main
	background-color #FFE74C
	
.main, .welcome-content, 
	height 100%
	
.info-newdot, .info-newdot-extra, .register
	visibility hidden

/*----- Desktop -----*/			

@media (min-width 1024px)
	.info-newdot, .info-content, info-newdot-extra, 
	.info-content-extra, .register, .form-content
		height 100%	

	.main
		background-color #000000
		background-image url(../../images/b8.jpg)
		background-position 50% -20%
		
	.info-newdot
		visibility visible
		background-color #FFE74C
		
	.info-newdot-extra
		visibility visible
		background-color #6BF178
		
	.register
		visibility visible
		background-color #000000
		background-image url(../../images/b22.jpg)
		background-position 50% -100%

	.main, .register
		background-repeat no-repeat
		background-size cover

@import './welcome'
@import './info'
@import './info-extra'
@import './register'
@import './plugins'