@import './reset'
@import './normalize.css'

body
	overflow-y hidden
	margin 0
	display block
	letter-spacing 0
	font-style normal
	font-weight 400
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	
.main
	background-color #fff
	
.invitation
	background-color #fffc00
	
.main, .welcome-content
	height 100%
	
.info-newdot, .info-newdot-extra, .register, .invitation
	visibility hidden

/*----- Desktop -----*/

@media (min-width 1024px)
	.info-newdot, .info-content, info-newdot-extra, 
	.info-content-extra, .register, .form-content
		height 100%	

	.main
		background-color #000000
		background-image url(../../images/b8-edit.png)
		background-position 50% 0
		
	.info-newdot
		visibility visible
		background-color #fe7f0a
		
	.info-newdot-extra
		visibility visible
		background-color #15a3ed
		
	.register
		visibility visible
		background-color #000000
		background-image url(../../images/b22.jpg)
		background-position 50% -100%
		
	.invitation
		visibility visible
		background-color #FFFC00

	.main, .register
		background-repeat no-repeat
		background-size cover

@import './welcome'
@import './info'
@import './info-extra'
@import './register'
@import './invitation'
@import './plugins'