/*------ FIRST PAGE ------*/
		
.welcome-content
	display flex
	justify-content center
	flex-flow nowrap
	align-self center	
	
	.welcome-text
		display flex
		justify-content space-between
		flex-flow column wrap
		align-self center
		text-align center
		margin-top -250px
		
		.top-title 
			color #e62739
			padding 0 50px
			margin 0
			text-align center
			font-size 63px
			line-height 1.2
			font-family Arial
			letter-spacing 0
			font-weight 700
			font-style normal
		
		.top-subtitle 
			max-width 580px
			margin 15px auto 0
			padding 0 50px
			line-height 1.2
			text-align center			
			letter-spacing 0
			font-family Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
			color #fff
			font-size 24px
			font-weight 420
			font-style normal			
	
.about-newdot
	color #fff
	text-decoration none
	cursor pointer
	z-index 2
	font-family Lato, "Helvetica Neue", sans-serif
	font-size 16px
	position absolute
	bottom 15px
	left 50%
	transform translateX(-50%)
	
.about-newdot:hover 
	color #e62739
	




/*
@media (min-width 768px) 
	.header 
		display flex
		flex-flow row nowrap
		justify-content space-between
		align-items center
		height 54px
		transition all .3s ease
	
	.header-logo 
		order 1
		padding-left 20px
		
	.header-about 
		order 2
		padding-right 20px
			
	.learn-more
		text-decoration none
		color #fff

*/